typings
**/app/**/*.js
**/app/**/*.map
node_modules
jspm_packages
bower_components

.vs
**/*.sou
**/*.user
bin
obj
packages
pluralSight-angularGettingStarted/config
pluralSight-angularGettingStarted/description
pluralSight-angularGettingStarted/HEAD
pluralSight-angularGettingStarted/hooks/applypatch-msg.sample
pluralSight-angularGettingStarted/hooks/commit-msg.sample
pluralSight-angularGettingStarted/hooks/post-update.sample
pluralSight-angularGettingStarted/hooks/pre-applypatch.sample
pluralSight-angularGettingStarted/hooks/pre-commit.sample
pluralSight-angularGettingStarted/hooks/pre-push.sample
pluralSight-angularGettingStarted/hooks/pre-rebase.sample
pluralSight-angularGettingStarted/hooks/pre-receive.sample
pluralSight-angularGettingStarted/hooks/prepare-commit-msg.sample
pluralSight-angularGettingStarted/hooks/update.sample
pluralSight-angularGettingStarted/info/exclude
pluralSight-angularGettingStarted/objects/pack/pack-a409a2a5aa1c40dc12e739699acaa7a7c0f44e3c.idx
pluralSight-angularGettingStarted/objects/pack/pack-a409a2a5aa1c40dc12e739699acaa7a7c0f44e3c.pack
pluralSight-angularGettingStarted/refs/heads/master
APM-Start/package-lock.json
